<section
  class="w-full h-screen bg-mainBlack flex flex-col justify-center items-start px-36 gap-3"
>
  <h2 class="font-heartquake text-mainYellow text-7xl">SOBRE MI</h2>
  <p class="font-caviarDreams text-mainWhite text-xl w-[60%]">
    Analista de datos y desarrollador web con más de 2 años de experiencia en el
    desarrollo de tácticas de analítica, planeación, medición y visualización de
    KPIs. Experto en Analytics 360 de Google.<br /><br />Adicionalmente,
    experimentado en diseño y desarrollo web en distintas tecnologías. Capacidad
    de trabajo en equipo y rápida adaptabilidad a los cambios.
  </p>
</section>
