<section
  class="w-full mx-auto flex flex-col justify-center items-start bg-mainBlack px-36 gap-3 pt-[var(--header-height)] h-screen"
>
  <h2
    class="text-yellow-300 main font-regular font-heartquake text-mainYellow text-7xl"
    style="word-spacing: -0.5em;"
  >
    ASHTIN SOTELO JUMP
  </h2>

  <h1
    class="text-mainBlack titlePosition font-cooperBlack font-black leading-none"
  >
    Web Developer
  </h1>
  <span class="font-caviarDreams text-mainWhite text-xl"
    >Transformo datos en soluciones digitales creativas y funcionales.</span
  >
</section>

<style>
  .titlePosition {
    -webkit-text-stroke: 0.5px #f2ca50;
    font-size: 40px;
  }
</style>
