---

---

<section
  class="h-screen w-full mx-auto flex flex-col justify-center items-start bg-mainBlack px-36"
>
  <h2
    class="text-yellow-300 main font-regular pb-5 font-heartquake text-mainYellow text-7xl"
    style="word-spacing: -0.5em;"
  >
    ASHTIN SOTELO JUMP
  </h2>

  <h1 class="text-mainYellow font-cooper">Web Developer</h1>
</section>
