<a  {...Astro.props} class="text-yellow-50 border-slate-50 border rounded-full flex justify-center bg-white/5 hover:scale-110 transition hover:bg-white/10 px-3 py-1 main" target="_blank" rel="noopener noreferrer">
    <slot/>
</a>